# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env.keys

# Next.js build output
.next

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Next
.next
