# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env.keys

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
