@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Bogota";
  src: url("/fonts/Bolota-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bogota: "Bogota";
  --font-sans: "Inter";
  --font-display: "Inter";
  --radius: 0.5rem;
  --primary: 172 82% 56%; /* #2EC4F1 */
  --primary-foreground: 222 84% 4%; /* #181F2A */
  --secondary: 217 32% 17%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217 32% 17%;
  --muted-foreground: 215 20% 65%;
  --accent: 217 32% 17%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 32% 17%;
  --input: 217 32% 17%;
  --ring: 212 26% 83%;
  --background: 222 84% 4%;
  --foreground: 210 40% 98%;
  --card: 222 84% 4%;
  --card-foreground: 210 40% 98%;
  --popover: 222 84% 4%;
  --popover-foreground: 210 40% 98%;
  --chart-1: 142 76% 36%;
  --chart-2: 217 91% 59%;
  --chart-3: 346 77% 49%;
  --chart-4: 262 83% 57%;
  --chart-5: 199 100% 50%;
}
